@{
    ViewData["Title"] = "Task";
}

@model TaskAndResult

@Model.Task.Question
<br />
<form>
    <p>
        <label>@Model.Task.Answer</label>
        <input type="radio" name="result" value="@(Model.Result+1)" />
    </p>
    <p>
        <label>@Model.Task.FakeAnswer</label>
        <input type="radio" name="result" value="@(Model.Result)" />
    </p>
    <input type="hidden" name="idTest" value="@Model.Task.Test.Id"/>
    <input type="hidden" name="idTask" value="@(Model.IdTask+1)"/>
    <p>
        <input type="submit" value="Next" class="btn btn-outline-info" />
    </p>
</form>